@import '../../../../theme/variables.scss';

$avatar-size: map-get($ptcg-size, avatar);

.ptcg-player-actions {
  display: flex;
  flex-direction: column;
  grid-area: actions;
  padding: 0 $ptcg-sidebar-tiny-padding;

  & > * {
    margin-top: $ptcg-sidebar-tiny-padding;
  }

  & > *:last-child {
    margin-bottom: $ptcg-sidebar-tiny-padding;
  }
}

.sandbox-label {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  color: #ff9800;
  padding: 4px 0;
}
